@charset "UTF-8";

@media all and (max-width:980px){
    /* header */
    #wrap #header .wrap .gap .container #nav {display:none;position:absolute;width:100%;top:80px;left:0;background:#fff;text-align:left;}

    #wrap #header .wrap .gap .container #nav >ul >li {display:block;margin:0;}
    #wrap #header .wrap .gap .container #nav >ul >li >a {color:rgba(0,0,0, .7);line-height:45px;text-indent:20px;}
    #wrap #header .wrap .gap .container #nav >ul >li >a:hover {color:rgba(0,0,0, 1);}

    /* section1 슬라이드 텍스트 박스 반응형 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box {width:61.2244898vw;height:37.75510204vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap {padding:10vw 11.42857143vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 {padding-bottom:4.081632653vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h4 {font-size:1.428571429vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h4 span:nth-child(2) {width:7.142857143vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h4 span i {width:5.102040816vw;}

    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 {width:100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 h2  {font-size:4.897959184vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 span {width:6.12244898vw;height:6.12244898vw;padding:2.653061224vw 0;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 span a {line-height:6.12244898vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 span a i {font-size:1.530612245vw;}

}
    

/* 창너비가 980px 이하 이면서 (and) 가로형 모드(Landscape) orientation:landscape 이면 
섹션1의 높이를 600px로 고정한다. */
@media all and (max-width:980px) and (orientation:landscape){
    #wrap #main #section1 {height:600px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box {display:none;}

}
/* 창너비가 980px 이하 이면서 (and) 세로형 모드(Landscape) orientation:portrait 이면 
섹션1의 높이를 창높이로한다. */
@media all and (max-width:980px) and (orientation:portrait){
    #wrap #main #section1 {height:600px;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box {display:block;}

}